# --- Python / Environment ---
__pycache__/
*.py[cod]
venv/
.env

# --- IDE Settings ---
.vscode/
.idea/

# --- Logs ---
logs/
*.log

# --- Airflow ---
airflow-webserver.pid

# --- Data (Ignored by Git, tracked by DVC) ---
data/raw/
data/processed/
data/reports/
